[user]
	name = Alex Gorichev
	email = me@voklen.com
[core]
	symlinks = true
[alias]
	squish = rebase -i --autosquash --root
	smish = rebase -i --autosquash HEAD~2
	fix = !git commit --no-edit --fixup HEAD && git smish
	qix = !git commit -a --no-edit --fixup HEAD && git smish
[safe]
	directory = /opt/flutter
[init]
	defaultBranch = main
[credential]
	helper = cache
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
