@import "mocha.css";

* {
    font-family: "Symbols Nerd Font", "Noto Sans", sans-serif;
    font-size: 13px;
}

window {
    margin: 10px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    margin: 10px;
}

/* == Modules == */

.module {
    background-color: @crust;
    border: solid transparent 2px;
    border-radius: 30px;
    padding: 0 10px;
    margin: 0 4px;
}

.module:hover {
    border: solid @text 2px;
}

/* Left Modules */

#idle_inhibitor.activated {
    color: @maroon;
}

#clock {
    color: @blue;
}

#custom-updates {
    color: @mauve;
}

#language {
    color: @maroon;
    margin-right: 0;
    padding-right: 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#keyboard-state {
    min-width: 16px;
    margin-left: 0;
    padding-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#keyboard-state > label {
    padding: 0 3px;
}
#keyboard-state > label.locked {
    color: @red;
    background: @base;
}

#wireplumber {
    color: @text;
}

#wireplumber.muted {
    color: @red;
}

#power-profiles-daemon.performance {
    color: @red;
}

#power-profiles-daemon.balanced {
    color: @sapphire;
}

#power-profiles-daemon.power-saver {
    color: @green;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @crust;
}

/* Centre Modules */

#workspaces {
    margin: 0;
    padding: 4px;
}

#workspaces:hover {
    border: solid transparent 2px;
}

#workspaces button {
    all: unset;
    border-radius: 30px;
    padding: 0 5px;
    margin: 0 2px;
    background-color: @base;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
    color: @base;
    background-color: @sapphire;
    padding: 0 25px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces .workspace-label {
    padding: 0px;
}

/* Right Modules */

#backlight {
    color: @text;
}

#cpu {
    color: @flamingo;
    margin-right: 0;
    padding-right: 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#memory {
    color: @green;
    margin-left: 0;
    padding-left: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#temperature {
    color: @peach;
}

#temperature.critical {
    color: @base;
    background-color: @red;
}

#network {
    color: @sky;
}

#network.disconnected {
    color: @red;
}

#battery {
    color: @text;
}

#battery.charging, #battery.plugged {
    color: @crust;
    background-color: @green;
}

@keyframes blink {
    to {
        background-color: @red;
    }
}

#battery.warning:not(.charging) {
    color: @peach;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @crust;
    animation-name: blink;
    animation-duration: 0.6s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* I don't know what this does: */
label:focus {
    background-color: @base;
}


